@import url('headers.css');
@import url('footer.css');
@import url('main.css');

.navbar {
  background: #6011b7;
  padding: 0.5rem;
  text-align: center;
}

.song img {
  width: 100%;
  max-width: 200px;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 0 10px #ff005c;
  margin-bottom: 1rem;
}

.navbar ul {
  display: flex;
  justify-content: space-around;
  background: #2a2a72;
  padding: 1rem;
  list-style: none;
}

.navbar li a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}

.navbar li a:hover {
  color: #00ffcc;
}
.main-content {
  padding: 2rem 1rem;
}

.intro {
  text-align: center;
  margin-bottom: 2rem;
}
/* PC screens: 1 column */
.top-hits {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
}

/* Medium screens: 2 columns */
@media (max-width: 768px) {
  .top-hits {
    grid-template-columns: 1fr 1fr;
  }
}

/* Small screens: 1 column */
@media (max-width: 480px) {
  .top-hits {
    grid-template-columns: 1fr;
  }
}

.song {
  background: #000;
  padding: 1rem;
  border-radius: 10px;
}

.song.clickable {
  text-decoration: none;
  color: inherit;
  border: 2px solid transparent;
  transition: border-color 0.3s;
}

.song.clickable:hover {
  border-color: neon green;
  cursor: pointer;
}
